<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>过滤器</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="msg">
        <p>{{msg | upper}}</p>


        <input type="text" v-model="msg1">
        <p>{{msg1 | lower}}</p>
    </div>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script>
        // 全局过滤器
        Vue.filter('upper',function(value){
            return value.charAt(0).toUpperCase()+value.slice(1)
            console.log(value)
        })
        var app = new Vue({
            el:"#app",
            data:{
                msg:'hello',
                msg1:'abcdefg'
            },
            // 局部过滤器
            filters:{
                lower(val){
                    return (val.split('').reverse().join('')).toUpperCase()
                }
            }
        })
    </script>
</body>
</html>